{% extends "base.html" %}

{% block title %} ETF 리스트 {% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>이름</th>
                <th>상장</th>
                <th>분류</th>
                <th>보수</th>
            </tr>
        </thead>
        <tbody>
            {% for etf in data %}
            <tr>
                <td><a href="/etf/{{etf.ticker[1:]}}">{{etf.name}}</a></td>
                <td>{{etf.inception}}</td>
                <td>{{etf.category}}</td>
                <td>{{etf.expenses_ratio}}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        {% if not request.args.get('category') == None %}
        {% set category = 'category=' + request.args.get('category') %}
        {% endif %}

        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/list/1?{{category}}">처음</a></li>
            {% if not page == 1 %}
            <li class="page-item"><a class="page-link" href="/list/{{page-1}}?{{category}}">{{page-1}}</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{page}}</a></li>
            {% if not page == total %}
            <li class="page-item"><a class="page-link" href="/list/{{page+1}}?{{category}}">{{page+1}}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="/list/{{total}}?{{category}}">끝</a></li>
        </ul>
    </nav>
{% endblock %}